* {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

hr {
  width: 75%;
}

a {
  text-decoration: none;
  color: black;
}

/* ---- Heading ---- */

svg {
  margin-top: 10px;
  width: 3%;
  height: 3%;
}

/* ---- Profile ---- */

.Profile {
  position: relative;
  margin: 12%;
  padding: 3%;
}

.background {
  position: absolute;
  font-size: 200px;
  top: -450px;
  bottom: -111px;
  z-index: -1;
  color: grey;
  opacity: 15%;
}

h1 {
  position: absolute;
  /* font-size: 300px; */
}

h3 {
  font-size: 25px;
}

.Profile p {
  font-size: 16px;
}

/* --- Projects --- */

.MyWork {
  margin: 75px;
  align-items: center;
}

.MyWork p {
  padding: 3%;
}

img {
  width: 35%;
  float: left;
  padding: 7%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

/* --- Contact --- */

i {
  align-items: center;
}



/* --- Footer --- */

footer ul li{
  list-style-type: none;
  display: inline-block;
  padding: 1%;
}



/* Mobile */

@media only screen and (max-width: 667px){
  h1 {
    font-size: 200px;
  }
}
